---
import '../styles/global.css';
---

<!doctype html>
<html lang="tr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Modern Astro + Tailwind 4 Projesi</title>
	</head>
	<body class="min-h-screen bg-gradient-to-br from-blackest to-dark text-body">
		<main class="container mx-auto p-4">
			<slot />
		</main>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
